%h1= Owner.model_name.human.pluralize

.row.my-4.text-right
  .col
    = link_to fa_icon("plus", text: "New owner"), [:new, :owner], class: "btn btn-primary btn-sm"

.row
  .col
    = paginate @owners, theme: 'twitter-bootstrap-4', pagination_class: "justify-content-center"
  .col-3.text-right.py-2
    %small= page_entries_info @owners

.row
  .col
    %table.table
      %thead
        %tr
          %th{ scope: "col" }= sort_link(@q, :name)
          %th{ scope: "col" }= sort_link(@q, :items_count)

      %tbody
        = render @owners

.row.mb-5
  .col
    = paginate @owners, theme: 'twitter-bootstrap-4', pagination_class: "justify-content-center"
  .col-3.text-right
    %small= page_entries_info @owners
