%nav.navbar.fixed-top.navbar-expand-lg.navbar-dark.bg-primary
  - if user_signed_in?
    = link_to t("app_name"), root_url, class: "navbar-brand"
  - else
    .navbar-brand= t("app_name")
  %button.navbar-toggler{ "aria-controls": "navbarSupportedContent", "aria-expanded": "false", "aria-label": "Toggle navigation", "data-target": "#navbarSupportedContent", data: { toggle: "collapse" }, type: "button" }
    %span.navbar-toggler-icon

  - if user_signed_in?
    #navbarSupportedContent.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        - active = controller.controller_name == "items" ? "active" : nil
        %li.nav-item{ class: active }
          = link_to :items, class: "nav-link" do
            = Item.model_name.human.pluralize
            - if active
              %span.sr-only (current)
        - active = controller.controller_name == "categories" ? "active" : nil
        %li.nav-item{ class: active }
          = link_to :categories, class: "nav-link" do
            = Category.model_name.human.pluralize
            - if active
              %span.sr-only (current)
        - active = controller.controller_name == "brands" ? "active" : nil
        %li.nav-item{ class: active }
          = link_to :brands, class: "nav-link" do
            = Brand.model_name.human.pluralize
            - if active
              %span.sr-only (current)
        - active = controller.controller_name == "owners" ? "active" : nil
        %li.nav-item{ class: active }
          = link_to :owners, class: "nav-link" do
            = Owner.model_name.human.pluralize
            - if active
              %span.sr-only (current)

      %ul.navbar-nav.ml-auto
        %li.nav-item.dropdown
          = link_to current_user.full_name, "#", id: "navbarDropdown", class: "nav-link dropdown-toggle", "aria-expanded": "false", "aria-haspopup": true, data: { toggle: "dropdown" }, role: "button"
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
            = link_to t("devise.account_settings"), edit_user_registration_path, class: "dropdown-item"
            .dropdown-divider
            = link_to t("devise.sign_out"), destroy_user_session_path, method: :delete, class: "dropdown-item"
