%h1= Item.model_name.human.pluralize

.row.my-4.text-right
  .col
    = link_to fa_icon("plus", text: "New item"), [:new, :item], class: "btn btn-primary"

.row
  .col
    = paginate @items, theme: 'twitter-bootstrap-4', pagination_class: "justify-content-center"
  .col-3.text-right.py-2
    %small= page_entries_info @items

.row
  .col
    %table.table
      %thead
        %tr
          %th{ scope: "col" }= sort_link(@q, :id)
          %th{ scope: "col" }= sort_link(@q, :name)
          %th{ scope: "col" }= sort_link(@q, :category_name)
          %th{ scope: "col" }= sort_link(@q, :year)
          %th{ scope: "col" }= sort_link(@q, :user, )

      %tbody
        = render @items

.row.mb-5
  .col
    = paginate @items, theme: 'twitter-bootstrap-4', pagination_class: "justify-content-center"
  .col-3.text-right
    %small= page_entries_info @items
