%h1= Item.model_name.human.pluralize

.row.my-4
  .col-lg-10
    .card
      .card-body
        = search_form_for @q, html: {class: "form-inline"} do |f|
          = f.search_field :name_cont, class: "form-control form-control-sm ml-2", placeholder: "Name contains"
          = f.search_field :year_cont, class: "form-control form-control-sm ml-2", placeholder: "Year contains"
          = f.collection_select :brand_id_eq, Brand.order(name: :asc), :id, :name, { prompt: "Brand...", include_blank: true }, { class: "form-control form-control-sm ml-2" }
          = f.collection_select :category_id_eq, Category.order(name: :asc), :id, :name, { prompt: "Category...", include_blank: true }, { class: "form-control form-control-sm ml-2" }
          = f.collection_select :owner_id_eq, Owner.order(name: :asc), :id, :name, { prompt: "Owner...", include_blank: true }, { class: "form-control form-control-sm ml-2" }

          = f.button "Search", class: "btn btn-info btn-sm ml-2"
          = link_to "Clear", items_url, class: "btn btn-secondary btn-sm ml-2"

  .col-lg-2.text-right
    = link_to fa_icon("plus", text: "New item"), [:new, :item], class: "btn btn-success btn-sm"

.row
  .col.text-right.py-2
    %small= page_entries_info @items

.row
  .col
    %table.table
      %thead
        %tr
          %th{ scope: "col" }= sort_link(@q, :brand_name, Item.human_attribute_name(:brand))
          %th{ scope: "col" }= sort_link(@q, :name)
          %th{ scope: "col" }= sort_link(@q, :category)
          %th{ scope: "col" }= sort_link(@q, :year)
          %th{ scope: "col" }= sort_link(@q, :owner)

      %tbody
        = render @items

.row.mb-5
  .col
    = paginate @items, theme: 'twitter-bootstrap-4', pagination_class: "justify-content-center"
