%h1= Item.model_name.human

.row.mb-3
  .col
    %h3= @item.name
    %h5= @item.year

    .card
      .card-body
        = GitHub::Markup.render_s(GitHub::Markups::MARKUP_MARKDOWN, @item.description).html_safe

.row
  .col
    - if policy(@item).edit?
      = link_to "Edit", [:edit, @item], class: "btn btn-warning"
    - if policy(@item).destroy?
      = link_to "Delete", @item, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" }
