.row.mb-3
  .col-8
    %h1= Item.model_name.human
  .col.text-right.pt-3
    - if policy(@item).edit?
      = link_to fa_icon("pen", text: "Edit"), [:edit, @item], class: "btn btn-warning btn-sm"
    - if policy(@item).destroy?
      = link_to fa_icon("trash", text: "Delete"), @item, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: "Are you sure?" }
%hr
.row.mb-3
  .col-md
    %p
      %b
        = succeed ":" do
          = Item.human_attribute_name(:category)
      = @item.category.name

    %p
      %b
        = succeed ":" do
          = Item.human_attribute_name(:name)
      = @item.name

    %p
      %b
        = succeed ":" do
          = Item.human_attribute_name(:brand)
      = @item.brand.name

    .row
      .col
        %p
          %b
            = succeed ":" do
              = Item.human_attribute_name(:year)
          = @item.year
        %p
          %b
            = succeed ":" do
              = Item.human_attribute_name(:authenticity)
          = @item.authenticity.titleize
      .col
        %p
          %b
            = succeed ":" do
              = Item.human_attribute_name(:model_number)
          = @item.model_number
        %p
          %b
            = succeed ":" do
              = Item.human_attribute_name(:serial_number)
          = @item.serial_number

  .col-md
    %p
      %b
        = succeed ":" do
          = Item.human_attribute_name(:aasm_state)
      %span.badge{class: badge_state(@item.aasm_state)}= @item.aasm_state.titleize
    %p
      %b
        = succeed ":" do
          = Item.human_attribute_name(:location)
      = @item.location
    %p
      %b
        = succeed ":" do
          = Item.human_attribute_name(:description)
      - if @item.description.present?
        = GitHub::Markup.render_s(GitHub::Markups::MARKUP_MARKDOWN, @item.description).html_safe

.container.bg-light.my-3
  - @item.images.in_groups_of(4) do |row_images|
    .row.d-flex.flex-wrap.align-items-center
      - row_images.each do |image|
        .col-md-3.py-4
          - if image
            .row
              .col
                = link_to image_tag(image.variant(resize_to_fit: [250, 250]), class: "img-fluid img-thumbnail d-block mx-auto"), image
