.row.mb-5
  .col
    %h1= Brand.model_name.human.pluralize

  .col.text-right.pt-2
    = link_to fa_icon("plus", text: "New brand"), [:new, :brand], class: "btn btn-success btn-sm"
    
.row
  .col.text-right.py-2
    %small= page_entries_info @brands

.row
  .col
    %table.table.table-bordered
      %thead.thead-light
        %tr
          %th{ scope: "col" }= sort_link(@q, :name)
          %th{ scope: "col" }= sort_link(@q, :items_count)

      %tbody
        = render @brands

.row.mb-5
  .col
    = paginate @brands, theme: 'twitter-bootstrap-4', pagination_class: "justify-content-center"
