.row.mb-5
  .col-8
    %h1= @category.name

  .col.text-right.pt-3
    - if policy(@category).edit?
      = link_to fa_icon("pen", text: "Edit"), [:edit, @category], class: "btn btn-warning"
    - if policy(@category).destroy?
      = link_to fa_icon("trash", text: "Delete"), @category, class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure?" }

.row
  .col
    %table.table
      %thead
        %tr
          %th{ scope: "col" }= Item.human_attribute_name(:id)
          %th{ scope: "col" }= Item.human_attribute_name(:name)
          %th{ scope: "col" }= Item.human_attribute_name(:year)
          %th{ scope: "col" }= Item.human_attribute_name(:user)

      %tbody
        - @category.items.each do |item|
          %tr
            %td= link_to item.id, item
            %td= link_to item.name, item
            %td= item.year
            %td= item.user.first_name
